:root {
  --blue: #00B0FF;
  --darkblue: #007DB5;
  --lightblue: #ECF3FF;
  /* --white: #fafafa; */
  --white: white;
  --black: #10223E;
  --red: #DF0909;
}

h1 {
  font-size: 32px;
  text-transform: capitalize;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

h2 {
  font-size: 24px;
  text-transform: capitalize;
}

h3 {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
}

p {
  font-size: 14;
}

* {
  box-sizing: border-box;
  font-family: DM Sans;
  /* background-color: var(--white); */
}

body {
  margin: 0;
  padding: 0;
}

#container {
  max-width: 600px;
  margin: 0 auto;
  /* text-align: center; */
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

#user-info {
  border: 1px solid #CCC;
  clear: both;
  margin: 0 auto 20px;
  max-width: 400px;
  padding: 10px;
  text-align: left;
}

#photo-container {
  background-color: #EEE;
  border: 1px solid #CCC;
  float: left;
  height: 80px;
  margin-right: 10px;
  width: 80px;
}

#photo {
  height: 80px;
  margin: 0;
  width: 80px;
}

@media (max-width: 300px) {

  #photo-container,
  #photo {
    height: 40px;
    width: 40px;
  }
}

.arrow_down {
  text-align: right;
  border: solid var(--blue);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Current theme  */
#current_theme_dropdown_btn {
  border-top: solid 1px var(--blue);
  border-bottom: solid 1px var(--blue);
  width: 100%;
}

#current_theme_dropdown_content {
  background-color: var(--blue);
  color: var(--white);
  padding: 16px 36px;
}

/* BUTTONS */
/* PC */


.round {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

button {
  background-color: var(--blue);
  border: none;
  color: var(--white);
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  gap: 170px;
}
.nav_submit_btn{
  background-color: var(--white);
  padding: 8px 32px;
  border: solid 1px var(--blue);
  color: var(--blue);
}
.nav_submit_btn:hover{
  background-color: var(--blue);
  color: var(--white);
}

#login_register_btn:hover {
  background-color: var(--darkblue);
}

button#sign-out {
  color: var(--blue);
  background-color: var(--white);
}

#sign-out:hover,
#user_name:hover {
  font-weight: bold;

}

.padding_title_content {
  padding: 32px 0 24px 0;
}

.hidden {
  display: none;
}